$colors: (
  neutral: (
    100: #fff,
    200: #979797,
    300: #747B95
  ),
  primary: (
    100: #e4eaff,
    300: #829CFF,
    400: #5175FF,
    500: #333950,
    600: #25293A
  ), 
);

$color-red: #F05B5B;