@use "../abstracts" as *;

.button {
  // display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  font-weight: $fw-700;
  padding: 1.125em 2.5em;;
  border-radius: 28px;
  transition: 275ms ease;
  border: 0;
  // width: 200px;
  // height: 56px;


  &[data-type="dark"] {
    background-color: clr(primary, 400);
    color: clr(neutral, 100);
    
  }

  &[data-type="neutral"] {
    background-color: clr(primary, 100);
    color: clr(primary, 400);
   
       
  }

  &[data-type="light"] {
    background-color: clr(neutral, 100);
    color: clr(primary, 400);
   
       
  }

  &[data-type="neutral"]:is(:hover, :focus) {
    opacity: 75%;

    
}


&[data-type="form-submit"] {
  background-color: clr(primary, 400);
  color: clr(neutral, 100);
 
     
}



  &:is(:hover, :focus):not([data-type="neutral"]) {
       opacity: 75%;
      }

}

.btn-card {
  justify-self: left;
  margin-inline: auto;

  @include mq(medium) {
    margin-inline: initial;
  }

}


