@use "../abstracts/" as *;

.card {
  display: grid;
  gap: 1rem;
  padding: $card-body-padding;
  // border: 1px solid black;
  border-radius: 13px;

  &__type {
    margin-bottom: 2.5rem;
  }

  &__users {
    margin-bottom: 2.5rem;
  }
}

.card[data-type="pro-card"] {
  background-image: url(/assets/home/bg-pattern-pricing.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px -120px;
}
