@use "../abstracts/" as *;

.wrap-contact {
  background: linear-gradient(to bottom, #FAFAFA 75%, #25293A 75%);
  position: relative;
}

.left-content {
  max-width: 540px;
  margin-top: 75px;
  text-align: center;
}

.countdown {

  margin-top: 64px;
  text-align: center;

 
}

.contact-heading {
  font-size: clamp(2.5rem, 5vw, 3.5rem);
  font-weight: $fw-700;
  color: clr(primary, 500);
  margin-bottom: 24px;
}

.form {
  position: relative;
  background-color: #FFF;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 10px;
  gap: 1rem;
  width: 100%;
  margin: 90px auto 70px auto;
  z-index: 1;
 
}

.form-control {
  position: relative;
}


input, select {
  
  height: 45px;
  width: 100%;
  font-size: 16px;
  padding-left: 19.41px;
  border: 0;
  color: clr(neutral, 200);
  border-bottom: 1px solid clr(neutral, 200);
  background-color: #FFF;
  padding-bottom: 2px;
  
   
}

select {
  color: clr(neutral, 300)
}

.i-error, .i-check {
  position: absolute;
  right: 1rem;
  top: 0.7rem;
  display: none;
}

#company {
  margin-bottom: 40px;
}

.z-index {
  z-index: 0;
}

.large-spiral-contact {
  background: url(/assets/sign-up/bg-pattern-side.svg);
  position: absolute;
  background-size: cover;
  left: 21px;
  width: 371px;
  top: 969px;
  height: 290px;
  z-index: 0;
}

