@use "../abstracts/" as *;

.footer {
  padding: 2rem;
  padding-bottom: 5rem;

  &__content {
    padding: 1rem;

    @include mq(large) {
      display: flex;
      justify-content: space-between;
      // border: 2px solid red;
    }
  }

  &__button-container {
    text-align: center;

    @include mq(large) {
      align-self: center;
    }
  }
}

.countdown {
  &__announcement-date {
    letter-spacing: 5px;
    margin-bottom: 1.125rem;
  }

  &__boxes {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    margin-bottom: 2.5rem;
    @include mq(medium) {
      justify-content: left;
      
    }
   
  }

  &__box {
    padding: 1rem;
    padding: 1.2rem;
    border-radius: 5px;
    width: 120px;
    @include mq(medium) {
      width: 100px;
      
    }
  }

  &__number {
    font-size: 1.6rem;
    @include mq(medium) {
      font-size: 3.5rem;
    }
  }

  &__time-value {
    font-size: 1.2rem;
  }
}

.large-spiral {
  background: url(/assets/home/bg-pattern-footer.svg);
  position: absolute;
  background-size: cover;
  width: 1000px;
  height: 1000px;
  left: -288px;
  right: -228px;
  margin: 0 auto;
  bottom: 0;
  z-index: -1;

  @include mq(medium) {
    left: -256px;
    bottom: -199px;
  }

  @include mq(large) {
    width: 1768px;
    height: 1115px;
    right: 654px;
    left: -572px;
    bottom: -28px;
  }
}
