@use "../abstracts/" as *;

.footer {
  padding: 2rem;
  padding-bottom: 5rem;

  &__content {
    padding: 1rem;
  }

  &__button-container {
    text-align: center;
  }
}

.countdown {
  &__announcement-date {
    letter-spacing: 5px;
    margin-bottom: 1.125rem;
  }

  &__boxes {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    margin-bottom: 2.5rem;
  }

  &__box {
    padding: 1rem;
    padding: 1.2rem;
    border-radius: 5px;
       
  
  }

  &__number {
    font-size: 2.5rem;
    @include mq(medium) {
      font-size: 3.5rem;
    }
  }

  &__time-value {
    font-size: 1.2rem;
  }
}

.large-spiral {
  background: url(/assets/home/bg-pattern-footer.svg);
  position: absolute;
  background-size: cover;
  width: 1000px;
  height: 1000px;
  left: -288px;
  right: -228px;
margin: 0 auto;
  bottom: 0;
  z-index: -1;
}
