@use "../abstracts/" as *;

.primary-header {
  text-align: center;

  @include mq(medium) {
   text-align: initial;
  }

  &__illustration {
    margin: 5rem auto 0 auto;
    width: clamp(16.688rem, 35vw, 29.688rem);
    
    @include mq(medium) {
      margin: 5rem 0rem 5rem 5rem;
    }
    
  }

  // &__illustration {
  //   margin: 5rem auto 0 auto;
  //   width: 65%;
  //   height: auto;
  //   max-width: 475px;
  //   @include mq(medium) {
  //     width: 475px;
  //     max-width: 100%;
  //     margin: 0;
  //     object-fit: contain;
  //   }
  // }

  &__content-container {
    @include mq(medium) {
      display: flex;
      flex-direction: row-reverse;
      padding-top: 6.5rem;
      gap: 3.9rem;
    }
  }

  &__text-content {
    @include mq(medium) {
      max-width: 28.5rem;
    }
   
  }
}

.hero-heading {
  line-height: 48px;
}

.logo {
  padding-top: 3rem;
  margin-inline: auto;

  @include mq(medium) {
    margin-inline: 0;
  }
}

.container {
  position: relative;
}

.background-pattern {
  position: absolute;
  width: 458px;
  height: auto;
  top: -125px;
  z-index: -1;

  @include mq(medium) {
    width: 666px;
    height: 666px;
    top: -186px;
    right: -296px;
  }

  @include mq(large) {
    width: 969px;
    height: 969px;
    top: -225px;
    right: -258px;
  }



}

.para-general {
  line-height: 1.7;
  @include mq(medium) {
    // width: 37ch;
  }
  
}


