@use "../abstracts/" as *;

html,body {
  overflow-x:hidden;
  
}

body {
  font-family: $ff-base;
  font-weight: $fw-400;
  font-size: fs(400);
  color: clr(neutral, 300);
  background-color: #FAFAFA;
  line-height: 1.5;
  
  
  
}

.wrap {
  position: relative;
  background: linear-gradient(to bottom, #FAFAFA 55%, #25293A 55%);
  z-index: 0;
  overflow: hidden;

  @include mq(medium) {
    background: linear-gradient(to bottom, #FAFAFA 57%, #25293A 57%);
      }

      @include mq(large) {
        background: linear-gradient(to bottom, #FAFAFA 65%, #25293A 65%);
      }
}