@use "../abstracts/" as *;

body {
  font-family: $ff-base;
  font-weight: $fw-400;
  font-size: fs(400);
  color: clr(neutral, 300);
  background-color: #FAFAFA;
  line-height: 1.5;
  
}

.wrap {
  position: relative;
  background: linear-gradient(to bottom, #FAFAFA 55%, #25293A 55%);
  z-index: 0;
}